<template>
  <div class="">
    <div v-for="user in userOnline" class="list-group"> 
      <span class="list-group-item m-2">{{user}}</span>
    </div>
  </div>
</template>
<script>
export default {
    name:'ListUser',
    props:['userOnline'],
    data(){
        return{

        }
    }
};
</script>
<style lang="scss" scoped>
</style>