<template>
  <div>
    <button id="logout" v-show="!authState" class="btn btn-danger" @click="logout()">{{this.name}}</button>
    <div v-if="authState">
      <form>
        <label>Nick name</label>
        <input type="text" class="form-control" id="email" v-model="name" />
      </form>
      <button type="submit" class="btn btn-primary" @click.prevent="login()">Login</button>
    </div>
    <div id="room" v-else>
      <div id="listUser" class="card">
        <p>List User Online</p>
        <ListUser id="listUser" v-bind:userOnline="updateUser"></ListUser>
      </div>
      <div id="room__list" class="card">
        <button class="btn btn-warning btn-block btn-lg" @click="displayModal()">Create room</button>
        <div v-if="showModal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">
                <div class="modal-header">
                  <slot name="header">User online</slot>
                </div>

                <div class="modal-body" v-for="(user,index) in updateUser " v-bind:key="index">
                  <div name="body">
                    <input
                      v-bind:value="user"
                      type="checkbox"
                      v-model="checkedNames"
                      v-bind:id="index"
                    />
                    <label v-bind:for="user">{{user}}</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <slot name="footer">
                    <input
                      v-model="nameRoom"
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Name room"
                    />
                    <button class="btn btn-primary" v-on:click="createRoom()">Create</button>
                    <button class="btn btn-default" v-on:click="cancelCreateRoom()">Cancel</button>
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list-group" v-for="(room, index) in updateRoom" v-bind:key="index">
          <button
            class="list-group-item list-group-item-action"
            v-on:click="showMessage(room)"
          >{{room}}</button>
        </div>
      </div>
      <div class="room__detail" v-if="showMsg">
        <MessageList v-bind:messages="messages" id="MessageList"></MessageList>
        <div id="message__input">
          <form>
            <div>
              <input
                v-model="message"
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Input message"
              />
              <button class="btn btn-primary" @click.prevent="sendMessage(room)">Send</button>
            </div>
            <input type="file" id="files" v-on:change="handleFile" />
            <button class="btn btn-primary" @click.prevent="showCanvas()">Call</button>
          </form>
        </div>
      </div>
      <div class="room__detail__1" v-bind:style="style">
        <div>
          <video ref="video" id="video" width="400" height="400" playsinline muted autoplay></video>
        </div>
        <canvas ref="canvas" id="emo_canvas" width="400" height="400"></canvas>
        <button class="btn btn-primary" @click.prevent="backToMessage()">Message</button>
      </div>
    </div>
  </div>
</template>

<script>
import Login from "@/components/auth/Login.vue";
import RoomList from "@/components/room/RoomList.vue";
import MessageList from "@/components/message/MessageList.vue";
import MessageInput from "@/components/message/MessageInput.vue";
import ListUser from "@/components/user/ListUser.vue";
import _ from "lodash";

export default {
  name: "Home",

  data: function() {
    return {
      authState: true,
      showModal: false,
      name: "",
      messages: [],
      message: "",
      rooms: [],
      room: "",
      users: [],
      user: {},
      nameRoom: "",
      checkedNames: [],
      showMsg: false,
      file: "",
      canvasStatus: false,
      video: {},
      canvas: {},
      charArray: [],
      context: {},
      style: {
        display: "none"
      }
    };
  },

  components: {
    Login,
    RoomList,
    MessageList,
    MessageInput,
    ListUser
  },

  computed: {
    currentUser: function() {
      return this.user;
    },

    updateUser: function() {
      return _.filter(this.users, function(o) {
        return o;
      });
    },

    updateRoom: function() {
      return this.rooms;
    }
  },

  methods: {
    login: function() {
      this.authState = false;
      let msg = {
        messageType: "LOGIN",
        content: this.name
      };

      this.socket.send(JSON.stringify(msg));
    },

    logout: function() {
      this.authState = true;
    },

    displayModal: function() {
      this.showModal = true;
      let msg = {
        messageType: "LIST_USER",
        content: ""
      };
      this.socket.send(JSON.stringify(msg));
    },

    createRoom: function() {
      this.showModal = false;
      let msg = {
        messageType: "CREATE_ROOM",
        roomName: this.nameRoom,
        users: JSON.stringify(this.checkedNames)
      };

      this.socket.send(JSON.stringify(msg));
    },

    cancelCreateRoom: function() {
      this.showModal = false;
    },

    sendMessage: function(room) {
      this.message = this.message.replace("watch?v=", "embed/");
      let msg = {
        messageType: "SEND_MESSAGE",
        roomName: room,
        users: this.message
      };
      this.socket.send(JSON.stringify(msg));
      this.message = "";
    },
    handleFile(e) {
      this.file = e.target.files[0];
      this.socket.send(this.file);
    },

    showMessage: function(content) {
      let msg = {
        messageType: "GET_MESSAGE",
        content: content
      };
      this.showMsg = true;
      this.messages = [];
      this.room = content;
      this.socket.send(JSON.stringify(msg));
    },
    backToMessage: function(room) {
      this.showMsg = true;
      this.style = {
        display: "none"
      };
      this.video.stop();
    },

    showCanvas: function() {
      this.showMsg = false;
      this.style = {
        display: "inline"
      };
      this.video = this.$refs.video;
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices
          .getUserMedia({ audio: false, video: true })
          .then(stream => {
            this.video.srcObject = stream;
            this.video.play();
          });
      }
      this.canvas = this.$refs.canvas;
      this.testTimer = setInterval(() => {
        // console.log(this.$refs.canvas)
        let context = this.canvas
          .getContext("2d")
          .drawImage(this.video, 0, 0, 400, 240);
      });
      let canvasData = this.canvas.toDataURL("image/jpeg", 1);
      let decodeAstring = atob(canvasData.split(",")[1]);
      let charArray = [];

      for (let i = 0; i < decodeAstring.length; i++) {
        charArray.push(decodeAstring.charCodeAt(i));
      }
      this.socket.send(
        new Blob([new Uint8Array(charArray)], {
          type: "image/jpeg"
        })
      );
    },

    handleMessage: function(event) {
      let obj = JSON.parse(event.data);
      if (obj.messageType === "LOGIN") {
      } else if (obj.messageType === "LIST_USER") {
        this.users = JSON.parse(obj.content);
      } else if (obj.messageType === "LIST_ROOM") {
        let msg = JSON.parse(obj.content);
        this.rooms.push(msg.nameRoom);
      } else if (obj.messageType === "JOIN_ROOM") {
        let msg = JSON.parse(obj.content);
        this.rooms.push(msg.nameRoom);
      } else if (obj.messageType === "RESPONSE_MESSAGE") {
        this.messages.push(obj);
      } else if (obj.messageType === "SHOW_URL") {
        this.messages.push(obj);
      }
    },
    handleImage: function(file) {
      // this.url = window.URL.createObjectURL(file);
      let url = URL.createObjectURL(new Blob([file]));
      console.log('url',url);
      let newObj = {
        messageType: "RESPONSE_FILE",
        content: url
      };
      this.messages.push(newObj);
    }
  },
  created: function() {
    this.socket = new WebSocket("ws://localhost:8080/chat/socket");
    this.socket.binaryType = "arraybuffer";
    this.socket.onopen = () => {
      console.log("Ket noi thanh cong");
    };

    this.socket.onmessage = event => {
      if (event.data instanceof ArrayBuffer) {
        this.handleImage(event.data);
      } else {
        this.handleMessage(event);
      }
    };

    this.socket.onerror = () => {
      console.log("Ket noi that bai");
    };
  }
};
</script>
<style lang="scss" scoped>
button {
  margin-top: 10px;
}
#logout {
  margin-bottom: 2px;
  position: absolute;
  right: 30px;
  top: 10px;
}
#room {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
#room__list {
  width: 20%;
  padding: 10px;
  button {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.room__detail {
  width: 60%;
  height: 80vh;
  margin-left: 20px;
}
.room__detail__1 {
  width: 60%;
  height: 80vh;
  margin-left: 20px;
}
#MessageList {
  height: 100%;
}
#MessageInput {
  width: 100%;
}
#message__input {
  form {
    div {
      display: flex;
      flex-direction: row;
      input {
        margin-top: 2px;
        margin-right: 10px;
        width: 80%;
      }
      button {
        margin-top: 2px;
        margin-left: 2px;
        width: 20%;
      }
    }
  }
}
#listUser {
  margin: 10px;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 450px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input {
      width: 20%;
    }
    h5 {
      width: 80%;
      margin-left: 6px;
    }
  }
}

.modal-default-button {
  float: right;
}
</style>
