<template>
  <div>
    
  </div>
</template>
<script>
import {EventBus} from '../../store/eventBus';
export default {
  name: "RoomModal",
  props:['users'],
  data:function(){
    return{
      name:'',
      checkedNames:[],
    }
  },
  computed:{
    
  },
  methods:{
    createRoom:function(){
      
    },
    cancelCreateRoom: function(){
      
    }
  }
};
</script>
<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 450px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input{
      width: 20%;
    }
    h5{
      width: 80%;
      margin-left: 6px;
    }
  }
}

.modal-default-button {
  float: right;
}
</style>