<template>
  <div>
    <ul class="list-group" v-for="(room, index) in rooms" v-bind:key="index">
      <li class="list-group-item">{{room}}</li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "RoomList",
  props:['rooms']
};
</script>
<style lang="scss" scoped>
</style>