<template>
  <div>
    <form>
      <div>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "MessageInput"
};
</script>
<style lang="scss" scoped>
form {
  div {
    display: flex;
    flex-direction: row;
    input {
      margin-top: 2px;
      margin-right: 10px;
      width: 80%;
    }
    button{
        margin-top: 2px;
        margin-left: 2px;
        width: 20%
    }
  }
}
</style>