<template>
  <div class="card wrap p-3">
    <div v-for="message in messages">
      <div class="d-inline ">
        <div v-if="message.messageType === 'RESPONSE_MESSAGE'">
          <div class="btn btn-primary m-3">
            {{message.content}}
          </div>
        </div>
        <div v-else-if="message.messageType === 'SHOW_URL'">
          <p class="btn btn-primary m-3">{{message.content}}</p>
          <iframe :src="message.content" ></iframe>
        </div>
        <div v-else-if="message.messageType === 'RESPONSE_FILE'">
          <img :src="message.content" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "MessageList",
  props: ["messages"],
  data: function() {
    return {
    };
  },

  computed: {},

  methods: {
    loadError: function(){
      this.message.content = "";
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap {
  overflow: auto;
}
span {
  margin: 10px;
  padding: 20px;
}
img {
  height: 90%;
  width: 90%;
  font-size: 18px;
  margin:10px;
  &::before{
    content: "";
    display: none;
  }
}
iframe{
  height: 80%;
  width: 80%;
}
</style>