<template>
  <div>
    <form action>
      <label for="email">Nick name</label>
      <input type="email" class="form-control" id="email" v-model="name" />
    </form>
  </div>
</template>
<script>
export default {
    name:'Login',
    data:function(){
      return {
        name:''
      }
    }
};
</script>
<style lang="scss" scoped>
button{
    margin-top: 10px;
}
</style>